version: "3"
services:
    app:
        image: quay.io/rakshazi/slim-skeleton
        depends_on: ['db','redis']
        tmpfs:
            - /var/lib/nginx/html/app/cache:exec,mode=777
        environment:
            - VIRTUAL_HOST=your.site
            - VIRTUAL_PORT=9000
            - VIRTUAL_PROTO=fastcgi
            - VIRTUAL_ROOT=/var/lib/nginx/html/app/public
            - LETSENCRYPT_HOST=your.site
            - LETSENCRYPT_EMAIL=mail@your.site
    db:
        image: k0st/alpine-mariadb
        environment:
            - MYSQL_DATABASE=slim_skeleton
            - MYSQL_USER=slim
            - MYSQL_PASSWORD=slim
            - MYSQL_RANDOM_ROOT_PASSWORD=1

    redis:
        image: redis:alpine

    proxy:
        image: jwilder/nginx-proxy:alpine
        container_name: nginx-proxy
        labels:
            com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: 'true'
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./docker/proxy/nginx.tmpl:/app/nginx.tmpl
            - ./docker/proxy/certs:/etc/nginx/certs:ro
            - ./docker/proxy/vhost.d:/etc/nginx/vhost.d
            - ./docker/proxy/html:/usr/share/nginx/html
            - /var/run/docker.sock:/tmp/docker.sock:ro
    ssl_companion:
        image: jrcs/letsencrypt-nginx-proxy-companion
        volumes:
            - ./docker/proxy/certs:/etc/nginx/certs
            - ./docker/proxy/vhost.d:/etc/nginx/vhost.d
            - ./docker/proxy/html:/usr/share/nginx/html
            - /var/run/docker.sock:/var/run/docker.sock:ro
        depends_on: ['proxy']
